body{
  font-size: 1.5rem;
}

.column{
  /* column-count: 4;
  column-width: 200px; */
  columns: 4 250px;
  column-rule: 2px solid;
  column-gap: 2rem;
}

.column p{
  margin-top: 0;
}

.column .quote{
  margin-top: 3rem;
  font-size: 3rem;
  text-align: center;
  column-span: all;
}

h2{
  background-color: #333;
  color: whitesmoke;
  padding: 3rem;
  break-inside: avoid;
  break-before: column;
}

.nowrp{
  white-space: nowrap;
}