*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  font-size: 1.5rem;
}

.container{
  border: 2px solid;
  /* min-width:300px;
  min-height: 300px; */
  /* max-width: 600px; */
  min-height: 400px;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  /* flex-wrap: wrap; */
/* default its present to all flext items so thar when window shrinks the items also shrinks  even less than its fixed width 100px */ 

  /* align-content: start; */
  /* flex-direction:row-reverse; */
  /* align-self: center; */
}

.box{
  background-color: black;
  color: white;
  /* width: 200px; */
  height:6.25rem;
  /* align-content: center; */
  /* flex-basis:30%;
  flex-shrink: 1;
  flex-grow:1 */
  flex: 1 1 150px;
}

.box:nth-child(2) {
  flex-shrink: 2;
  flex-grow: 2;
  order: -1;
}


/* .box:nth-child(4) {
  flex-shrink: 3;
} */
