body{
  font-size: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow:1;
  flex:1;
}

div{
  width: 200px;
  height: 200px;
  display: grid;
  place-content: center;
  border: 2px solid #000;
}


div:first-child{
  background-color: rgb(78, 78, 225);
}

div:nth-child(2){
  background-color: yellow
}

div:last-child{
  background-color: green;
}

.animate{
  animation-name: slide, slidein, slideout;
  animation-duration: 3s,2s;
  animation-delay: 0.25s;
  animation-iteration-count: 2,1;
  animation-timing-function: ease;
  animation-direction: reverse;
  animation-fill-mode: backwards;
  /* animation: 2s ease-in-out slide; */
}

@keyframes slide {
  0% {transform: translateX(0);}
  33% {transform: translateX(600px) rotate(180deg);}
  66% {transform: translateX(-600px) rotate(-180deg);}
  100%{transform: translateX(0);
       background-color: red;
  }
}

p {
  animation-duration: 2s;
  animation-name: slide-in;
}

@keyframes slide-in {
  from {
    translate:  0 -150vw;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}


