/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
 }

 body{
    margin: 0.25rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
 }

 nav{
   border: 2px solid;  
   border-radius: 2rem;
   margin: 0 auto 0;
   max-width: 600px;
}

ul{
  list-style: none;  /* because the markers are outside the box */
  line-height: 1.5;
}

h2{
  background-color: gold;
  border-radius: 2rem 2rem 0 0;
}

li:last-child a{
  border-radius:0 0 2rem 2rem;
}

li a:hover, li a:focus{
   background-color: gray;
   color: white;
}

li a:visited{
  color: purple
}

li a {
  display: block;
}

li{
  border-top: 1px solid;
}

 