html, body{
  margin: 0;
  padding: 0;
  width: 400px;
  height: 600px;
}

.container{
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  position: relative;
}

.page{
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

.one{
  background-image: url('inv71.jpg');
  z-index: 2;
  animation: fadeout 3s linear 3.5s forwards;
  /* position: relative;   vannot give absolute and relative to single elem at same time*/      
}

@keyframes fadeout {
  0%{
   transform: translateX(0);
  }
  25%{
    transform: translateX(100px);
  }
  50%{
    transform: translateX(200px);
  }
  75%{
    opacity: 0;
    transform: translateX(400px);
  }
  100%{
    opacity: 0;
    transform: scale(0);
  }
}

.card{
  width:100%;
  height:100%;
  /* padding-left: 10px; */
  position: relative;
}

.two{
  background-image: url('inv71.jpg');
  width: 100%;
  height: 100%;
  opacity: 0.75;
  z-index: 1;
  position: absolute;
}

/* .two::before{
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(148, 145, 145, 0.5);
} */

.heart{
  background-image: URL('inv62.png');
  width: 300px;
  height: 300px;
  opacity:0;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top:48%;
  left:50%;
  transform: translate(-150%, -50%);   /* start from left */
  animation: heart 2.5s linear forwards 3.5s;
}

.heart-text{
  position: absolute;
  /* font-size: 30px; */
  font-size: 30px;
  opacity: 1;
  /* color: rgb(23, 6, 54); */
  /* color: rgb(59, 2, 2); */
  /* color: rgb(124, 10, 96); */
  /* color:orangered; */
  /* color: rgb(58, 13, 113); */
  /* color: rgb(73, 7, 73); */

  color:rgb(4, 49, 2);
  /* color: rgb(170, 63, 24); */
  font-weight: bolder;
  position: absolute;
  top:68px;
  left: 75px;
  /* top:65px;
  left: 65px; */
  text-align: center;
  text-shadow: 4px 6px 6px rgba(0, 0, 0, 0.7);
  font-family: "Dancing Script";
}

.heart-text1, .heart-text2{
  display: block;
}

@keyframes heart {
  0%{
    opacity: 0;
    transform: translate(-150%, -50%);
  }
  25%{   
    opacity: 0;
    transform: translate(-120%, -50%);
  }
  50%{   
    opacity: 0.2;
    transform: translate(-90%, -50%);
    }
  75%{
    opacity: 0.6;
    transform: translate(-70%, -50%);
  }
  100%{
    opacity: 1;
    color: rgb(132, 22, 22);
    transform: translate(-50%, -50%);
  }
}
/* .card{
  position: relative;
} */

.name{
  position: absolute;
  left:50%;
  bottom:30px;
  top:450px;
}

.letter{
  color: grey;
  font-size: xx-large;
}

.leftBox{
  transform: rotate(35deg);
}

.rightBox{
  transform: rotate(-30deg) translateY(-30px);
}

.main-round{
  width:300px;
  height: 120px;
  border-radius: 50%;
  background-color: rgb(246, 230, 208);
  position: absolute;
  top:405px;
  left:50px;
  border-top-left-radius: 5%;
  border-bottom-right-radius: 5%;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);

  animation: boxOpen 0.75s linear forwards;
}

@keyframes boxOpen {
  0%{
    opacity: 0;
    transform: scale(0);
    background-color: rgb(246, 230, 208);
  }
  50%{
    /* transform: scale(0.4); */
    background-color: rgb(246, 230, 208);
  }
  75%{
    /* transform: scale(0.8); */
    background-color: rgb(246, 230, 208);
  }
  100%{
    opacity: 1;
    transform: scale(1.1);
    background-color: rgb(161, 159, 159);
  }
}

.welcome-container{
  /* position: absolute; */
  /* top:400px;
  left:70px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.welcome-text{
  font-size: large;
  margin: 0;
  padding: 0;
  opacity: 0;
  font-weight: bold;
  overflow: hidden;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  animation: sliding 1s linear forwards 1s;
}

.w-text1, .w-text2{
  font-family: "Dancing Script";
  font-size: 25px !important;
  /* color:rgb(23, 6, 54) */
  /* color: rgb(170, 63, 24); */
  color: rgb(8, 71, 60);
}
.w-text2{
  margin-left: 10px;
}

.date-round{
  /* background-color: rgb(195, 221, 108); */
  background-color: rgb(198, 126, 184);
  border-radius: 50%;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.6);
  color:rgb(2, 2, 57);
  padding: 4px;
}

@keyframes sliding {
  0%{
    transform: scale(0);
    opacity:1;
  }
  50%{
    transform: scale(0.5);
    opacity:1
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes typing {
   from{
    width: 0;
   }
   to{
    width:100%;
   }
}

@keyframes blink {
  50% { border-color: transparent; }
}


.heart-side{
  background-image: url('inv64.png');
  width:100px;
  height: 100px;
  position: absolute;
  top:220px;
  left:150px;
  opacity: 1;
  background-size: contain;
}

 .topLeft{
  animation: moveTopLeft 1s linear forwards 4s;
}

.topRight{
  animation: moveTopRight 1.5s linear forwards 4.2s;
}

.bottomLeft{
  animation: moveBottomLeft 1.75s linear forwards 4s;
}

.bottomRight{
  animation: moveBottomRight 2s linear forwards 4s;
}

@keyframes moveTopLeft {
  to{
    top:0;
    left:0;
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes moveTopRight {
  to{
    top:0;
    left:100%;
    transform: translate(-100%, 0);
    opacity: 1;
  }
}

@keyframes moveBottomLeft {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  100%{
    top:100%;
    left:0;
    transform: translate(0, -100%);
    opacity: 1;
  }
}

@keyframes moveBottomRight {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 1;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
  }
}

.top{
  position: absolute;
  top:20px;
  left:5px;
  z-index:10;
  width: 100%;
  /* color: rgb(62, 7, 7); */
  color: rgb(59, 5, 84);
  
}

.top-text, .top-event{
  /* background-color: lightgray; */
  text-align: center;
  font-size: 18px;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.6);
  margin: 0;
  margin-top: 10px;
}

.top-event{
  font-size: 14px;
  font-weight: bold;
}


.bottom-left, .bottom-right{
  text-align: center;
}

.bottom-left{
  position: absolute;
  top:62%;
  left:50%;
  z-index: 11;
  opacity: 0;
  animation: slideFromRight 1.25s ease-out forwards 6.5s;
  font-weight: 600;
}

.bottom-left p, .bottom-right p{
  padding: 0;
  margin:0;
}

.text{
  /* color:rgb(4, 49, 2); */

  /* color: rgb(155, 3, 3); */
  /* color:rgb(37, 4, 72); */
  /* color: rgb(59, 5, 84); */
  color: rgb(62, 7, 7); 
  text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.7);
}

.text-hl{
  /* color:rgb(45, 2, 49); */
  /* color: rgb(155, 3, 3); */

  /* color:rgb(4, 49, 2); */
  color: rgb(73, 7, 73);
  text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.4);

}

.bottom-right{
  position: absolute;
  top:62%;
  right:50%;
  opacity: 0;
  animation: slideFromLeft 1.25s ease-in-out forwards 6s;
  font-weight: 700;
}

@keyframes slideFromRight {
  /* from{
    transform: translateX(100px);
  } */
  to{
    opacity: 1;
    transform: translateX(-190px);
  }
}

@keyframes slideFromLeft {
  /* from{
    transform: translateX(100px);
  } */
  to{
    opacity: 1;
    transform: translateX(170px);
  }
}

.bottom-middle{
  position: absolute;
  text-align: left;
  top:69%;
  left:5%;
  right: 5%;
  z-index: 11;
}

.bottom-middle-hall{
  /* display: inline-block; */
  font-weight: bold;
  font-size: 20px;
}

.bottom-middle-text{
  font-weight: 500;
  text-align: center;
  font-size: 20px;
}

/* .bottom-left-text{
  font-weight: bold;
  font-size: 20px;
}

.text, .event{
  padding: 0;
  margin: 0;
} */




/* .welcome-text{
  position: absolute;
  text-align: center;
  top:400px;
}

.wel{
  animation: slide-in 2s linear forwards 1s;
}

.wel:nth-child(1){
  animation-delay: 0.3s;
}

.wel:nth-child(2){
  animation-delay: 0.6s;
}

.wel:nth-child(3){
  animation-delay: 0.9s;
}

@keyframes textAnimate {
  from{
    transform: translateY(100px);
    opacity:0;
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-in {
  from {
    translate:  0 -150vw;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
} */